<div class="">
  <!-- Hover added -->
  <div class="list-group rounded-0 vh-100 border-0 fw-bold" style="background-color: #fefefe;">
    <a href="#" class="list-group-item list-group-item-light border-0">
      <div class="text-center">
        <i class="fab fa-dev h3 m-auto py-3" style="color: #0f0f0f;"></i>
        <br>
        IMS
      </div>
    </a>
    <a th:href="@{/home}" class="list-group-item list-group-item-light border-0">
      <div class="text-center">
        <i class="fas fa-home h4 m-auto py-3" style="color: #000000;"></i>
        <br>
        Home
      </div>
    </a>
    <a th:href="@{/candidate/view}" class="list-group-item list-group-item-light  border-0">
      <div class="text-center">
        <i class="fas fa-users h5 m-auto py-3" style="color: #000000;"></i>
        <br>
        Candidate
      </div>
    </a>
    <a th:href="@{/job/view}" class="list-group-item list-group-item-light border-0">
      <div class="text-center">
        <i class="fas fa-suitcase h4 m-auto py-3" style="color: #000000;"></i>
        <br>
        Job
      </div>
    </a>
    <a th:href="@{/schedule/view}" class="list-group-item list-group-item-light  border-0">
      <div class="text-center">
        <i class="fas fa-comments h4 m-auto py-3" style="color: #000000;"></i>
        <br>
        Interview
      </div>
    </a>
    <a th:href="@{/offer/view}" class="list-group-item list-group-item-light  border-0">
      <div class="text-center">
        <i class="fas fa-receipt h3 m-auto py-3" style="color: #000000;"></i>
        <br>
        Offer
      </div>
    </a>
  </div>
</div>