<div class="d-flex align-items-center">
  <div>
    <p class="m-0 text-end fw-bold" th:text="${session.USERNAME_SESSION}"></p>
    <p class="m-0"><i th:text="${session.DEPARTMENT}"></i></p>
  </div>
  <div class="dropdown m-4">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="far fa-user-circle h3" style="color: #000000;"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" th:href="@{/admin/user-management}">User management</a></li>
      <li><a class="dropdown-item" th:href="@{/user/my-account}">My account</a></li>
      <li>
        <form class="dropdown-item px-0 mx-0" th:action="@{/logout}" th:method="post">
          <button type="submit" class="btn text-start py-0 px-0 mx-3 w-100">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</div>