<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Edit Job</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
  <!-- Or for RTL support -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
  <script src="../../static/script/script.js" defer></script>
  <script th:src="@{/script/script.js}" defer></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>

<main class="d-flex">

  <th:block th:insert="fragment/sidebar"></th:block>


  <div class="w-100 ms-4">
    <div class="d-flex justify-content-between">
      <div>
        <h1 class="py-3">Job</h1>
      </div>
      <th:block th:insert="fragment/user-top-right"></th:block>

    </div>
    <nav class="breadcrumb">
      <a class="breadcrumb-item text-decoration-none" href="#">Job List</a>
      <span class="breadcrumb-item active" aria-current="page">Create job</span>
    </nav>
    <div class="bg-light p-3">
      <form th:action="@{/job/edit-job}" class="row" method="post" th:object="${job}">
        <div class="col-5">
          <input type="text" th:field="*{id}" th:value="*{id}" hidden>
          <input type="text" th:field="*{user}" th:value="*{user}" hidden>
          <table class="border-0">
            <tr class="mb-3">
              <td>Job title <span class="text-danger">*</span> </td>
              <td><input th:field="*{jobTitle}" type="text" class="form-control"  placeholder="Type a name"></td>
            </tr>
            <tr class="mb-3">
              <td>Start date<span class="text-danger">*</span> </td>
              <td><input th:field="*{startDate}" type="date" class="form-control" required></td>
            </tr>
            <tr class="mb-3">
              <td><label class="form-label">Salary range </label></td>
              <td>
                <div class="row d-flex align-items-center">
                  <div class="col-2">
                    From
                  </div>
                  <div class="col-4">
                    <input th:field="*{salaryRangeFrom}" type="text" class="form-control"  placeholder="Select range">
                  </div>
                  <div class="col-2">
                    To
                  </div>
                  <div class="col-4">
                    <input th:field="*{salaryRangeTo}" type="text" class="form-control"  placeholder="Select range">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Working address</td>
              <td><input th:field="*{workingAddress}" type="text" class="form-control" placeholder="Type address"></td>
            </tr>
            <tr>
              <td>Description</td>
              <td>
                <div class="mb-3">
                  <textarea th:field="*{description}" class="form-control"  rows="3" placeholder="Type description"></textarea>
                </div>
              </td>
            </tr>
          </table>

        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <table>
            <tr>
              <td >Skills <span class="text-danger">*</span></td>
              <td class="w-100">
                <select th:field="*{skills}" class="form-select multiple-select-field" id="multiple-select-clear-field-1"
                        data-placeholder="Choose some skills" multiple name="multiple-2">
                  <th:block th:each="skill : ${skills}">
                    <option th:value="${skill.id}" th:text="${skill.skill}"></option>
                  </th:block>

                </select>
              </td>
            </tr>
            <tr>
              <td style="width: 15%;">End date<span class="text-danger">*</span></td>
              <td>
                <input th:field="*{endDate}" type="date" class="form-control" required>
              </td>
            </tr>
            <tr>
              <td>Benefits <span class="text-danger">*</span></td>
              <td>
                <select th:field="*{benefits}" class="form-select multiple-select-field" id="multiple-select-clear-field"
                        data-placeholder="Choose some benefits" multiple name="multiple-2">
                  <th:block th:each="benefit : ${benefits}">
                    <option th:value="${benefit.id}" th:text="${benefit.benefit}"></option>
                  </th:block>
                </select>
              </td>
            </tr>
            <tr>
              <td>Status <span class="text-danger">*</span></td>
              <td>
                <select th:field="*{jobStatus}" class="form-select ">
                  <th:block th:each="status : ${statusList}">
                    <option th:value="${status.id}" th:text="${status.status}"></option>
                  </th:block>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="text-center mt-5">
          <button type="submit" class="btn btn-primary px-3 me-5">Submit</button>
          <button type="reset" class="btn btn-primary px-4 ms-5">Cancel</button>
        </div>
        <div class="mt-3">
          <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
            <ul>
              <li class="list-unstyled" th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
          </div>
        </div>

      </form>
    </div>
  </div>


</main>
<footer>
  <!-- place footer here -->
</footer>


</body>

</html>