<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Candidate</title>
    <th:block th:insert="fragment/head"></th:block>
</head>
<body>

<main class="d-flex">
    <th:block th:insert="fragment/sidebar"></th:block>

    <div class="w-100 ms-4">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="py-3">Interview Schedule</h1>
            </div>
            <th:block th:insert="fragment/user-top-right"></th:block>

        </div>
<!--        <nav class="breadcrumb">-->
<!--            <a class="breadcrumb-item text-decoration-none" href="#">Interview Schedule</a>-->
<!--            <span class="breadcrumb-item active" aria-current="page">List</span>-->
<!--        </nav>-->
        <p class="h4 fst-italic">
            Interview Schedule List
        </p>
        <div class="">
            <form class="d-flex w-75" method="get">
                <input type="search" class="form-control rounded m-2" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon" name="keyword"/>
                <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                <select class="form-select form-select-sm m-2" aria-label=".form-select-sm example" name="option">
                    <th:block th:each="search : ${searchOptions}">
                        <option th:value="${search}" th:text="${search.name()}"></option>
                    </th:block>
                </select>
                <select class="form-select form-select-sm m-2" aria-label=".form-select-sm example" name="status">
                    <option selected hidden disabled>Status</option>
                    <th:block th:each="status : ${statusList}">
                        <option th:value="${status}" th:text="${status.name()}"></option>
                    </th:block>
                </select>
            </form>
        </div>

        <div class="bg-light p-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Candidate Name</th>
                        <th scope="col">Interviewer</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Result</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${scheduleList.size()==0}">
                        <p class="alert alert-warning text-center h4">No interview has been found!</p>
                    </th:block>
                    <th:block th:each="schedule : ${scheduleList}">
                        <tr class="">
                            <td th:text="${schedule.scheduleTitle}"></td>
                            <td th:text="${schedule.candidate.fullName}"></td>
                            <td>
                                <th:block th:each="interviewer : ${schedule.getInterviewers()}">
                                    <p class="p-0 m-0" th:text="${interviewer.getFullName()}"></p>
                                </th:block>
                            </td>
                            <td th:text="${schedule.scheduleDate} + ' ' +${schedule.scheduleTimeStart} + '-' +${schedule.scheduleTimeEnd}"></td>
                            <td th:text="${schedule.interviewResult}"></td>
                            <td th:text="${schedule.interviewStatus}"></td>
                            <td>
                                <a class="text-black" href=""><i class="far fa-eye"></i></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="text-black" href=""><i class="fas fa-edit"></i></a>
                                <a sec:authorize="hasRole('ROLE_RECRUITER')" class="text-black" href=""><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <nav aria-label="Page navigation" >
                <ul class="pagination justify-content-between">
                    <div></div>
                    <div class="d-flex">
                        <p class="p-2" th:text="${currentPage} + '/' + ${totalRows} + ' rows'"></p>
                        <th:block th:with="totalPages=${totalPages}">
                            <th:block th:if="${pageIndex > 1}">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{/schedule/view(keyword=${keyword},pageIndex=${pageIndex}-1,option=${option},status=${status})}">Prev</a>
                                </li>
                            </th:block>
                            <th:block th:if="${pageIndex <= 1}">
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true">Prev</a>
                                </li>
                            </th:block>
                            <!--                        <th:block th:if="${totalPages > 0}">-->
                            <!--                            <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">-->
                            <!--                                <th:block th:if="${i == pageIndex}">-->
                            <!--                                    <li class="page-item active" aria-current="page">-->
                            <!--                                        <a class="page-link" href="">[[${i}]]</a>-->
                            <!--                                    </li>-->
                            <!--                                </th:block>-->
                            <!--                                <th:block th:unless="${i == pageIndex}">-->
                            <!--                                    <li class="page-item">-->
                            <!--                                        <a class="page-link" th:href="@{/schedule/view(keyword=${keyword},pageIndex=${i})}">[[${i}]]</a>-->
                            <!--                                    </li>-->
                            <!--                                </th:block>-->
                            <!--                            </th:block>-->
                            <!--                        </th:block>-->
                            <!--                        <th:block th:unless="${totalPages > 0}">-->
                            <!--                            <li class="page-item disabled">-->
                            <!--                                <a class="page-link" tabindex="-1" aria-disabled="true">1</a>-->
                            <!--                            </li>-->
                            <!--                        </th:block>-->
                            <th:block th:if="${pageIndex < totalPages}">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{/schedule/view(keyword=${keyword},pageIndex=${pageIndex}+1,option=${option},status=${status})}">Next</a>
                                </li>
                            </th:block>
                            <th:block th:if="${pageIndex >= totalPages}">
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                                </li>
                            </th:block>
                        </th:block>
                    </div>
                </ul>
            </nav>
        
            
        </div>
    </div>
</main>

</body>
</html>